$baseSpace: 1rem !default;

$xxsSpace: 0.25 * $baseSpace !default;
$xsSpace: 0.5 * $baseSpace !default;
$smSpace: 0.75 * $baseSpace !default;
$mdSpace: 1.25 * $baseSpace !default;
$lgSpace: 2 * $baseSpace !default;
$xlSpace: 3.25 * $baseSpace !default;
$xxlSpace: 5.25 * $baseSpace !default;
