<section id="about" class="section about" data-section="about">
  <div class="container">
    <h2 class="section__title" data-aos="fade-right">About</h2>
    <ul class="about__list">
      <li class="about__item fact fact--me" data-aos="fade-up-right"
          data-aos-delay="300">
        <h3 class="fact__title">Me</h3>
        <p class="fact__description">
          I loves programming, puzzles, math, history, anime(.js) and cup of
          tea.
        </p>
      </li>
      <li class="about__item fact fact--simple" data-aos="flip-left"
          data-aos-delay="400">
        <h3 class="fact__title">Simple</h3>
        <p class="fact__description">
          Simple is better than complex? Definitely
        </p>
      </li>
      <li class="about__item fact fact--ui" data-aos="fade-down-left"
          data-aos-delay="300">
        <h3 class="fact__title">Responsive & Dynamic UI</h3>
        <p class="fact__description">
          Various beautiful animations inspire me. Dynamic pages for all screens
          are the best.
        </p>
      </li>
      <li class="about__item fact fact--code" data-aos="fade-up-right"
          data-aos-delay="300">
        <h3 class="fact__title">Coding</h3>
        <p class="fact__description">
          I like to code different things from scratch, and like to bring my and
          your ideas to life in the browser and not only.
        </p>
      </li>
      <li class="about__item fact fact--online" data-aos="flip-left"
          data-aos-delay="400">
        <h3 class="fact__title">Online</h3>
        <p class="fact__description">
          Almost always online, ready to accept any advice, opinions, comments
          and tasks, of course.
        </p>
      </li>
      <li class="about__item fact fact--friends" data-aos="fade-down-left"
          data-aos-delay="300">
        <h3 class="fact__title">Friends</h3>
        <p class="fact__description">
          Interesting tasks and their implementation are my food. Creating
          something new is fun with friends. Therefore, I am always glad to meet
          new people.
        </p>
      </li>
    </ul>
  </div>
</section>
