<footer class="page-footer">
  <a href="#" class="page-footer__link">
    <span class="page-footer__icon">
      <svg width="32" height="32">
        <use xlink:href="./assets/images/icons.svg#logo" />
      </svg>
    </span>
    <span class="page-footer__text">@aliheym</span>
  </a>
  <p class="page-footer__copyright">
    Artem Derevyanko <span class="text text--highlight">&copy;2020</span>
  </p>
  <p class="page-footer__attribute">
    Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/"
       title="Flaticon">www.flaticon.com</a>
    <br>
    Thanks for brands icons from <a href="https://simpleicons.org/"
       title="SimpleIcons">SimpleIcons</a>
  </p>
</footer>
