<header class="page-header">
  <nav class="page-header__nav page-nav">
    <ul class="page-nav__list">
      <li class="page-nav__item logo">
        <div class="page-nav__link logo__link">
          <span class="page-nav__link-text logo__link-text">Portfolio</span>
          <svg width="32" height="32"
               class="page-nav__link-icon logo__link-icon">
            <use xlink:href="./assets/images/icons.svg#logo" />
          </svg>
        </div>
      </li>
      <li class="page-nav__item page-nav__item--active">
        <a href="#home" class="page-nav__link">
          <svg width="32" height="32" class="page-nav__link-icon">
            <use xlink:href="./assets/images/icons.svg#home" />
          </svg>
          <span class="page-nav__link-text">Home</span>
        </a>
      </li>
      <li class="page-nav__item">
        <a href="#about" class="page-nav__link">
          <svg width="32" height="32" class="page-nav__link-icon">
            <use xlink:href="./assets/images/icons.svg#about" />
          </svg>
          <span class="page-nav__link-text">About</span>
        </a>
      </li>
      <li class="page-nav__item">
        <a href="#skills" class="page-nav__link">
          <svg width="32" height="32" class="page-nav__link-icon">
            <use xlink:href="./assets/images/icons.svg#skills" />
          </svg>
          <span class="page-nav__link-text">Skills</span>
        </a>
      </li>
      <li class="page-nav__item">
        <a href="#portfolio" class="page-nav__link">
          <svg width="32" height="32" class="page-nav__link-icon">
            <use xlink:href="./assets/images/icons.svg#portfolio" />
          </svg>
          <span class="page-nav__link-text">Portfolio</span>
        </a>
      </li>
      <li class="page-nav__item">
        <a href="#contacts" class="page-nav__link">
          <svg width="32" height="32" class="page-nav__link-icon">
            <use xlink:href="./assets/images/icons.svg#contacts" />
          </svg>
          <span class="page-nav__link-text">Contacts</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
