<section id="portfolio" class="section portfolio" data-section="portfolio"
         data-aos="notify" data-aos-offset="400">
  <div class="container">
    <h2 class="section__title" data-aos="fade-right">Portfolio</h2>
    <div class="portfolio__filter project-filter project-filter--dropdown"
         data-dropdown>
      <span class="project-filter__text">All</span>
      <ul class="project-filter__list">
        <li class="project-filter__item">
          <button class="project-filter__btn project-filter__btn--active"
                  type="button" data-filter="*">
            All
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--html">
            HTML/CSS
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--react">
            ReactJS/Vue
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--js">
            JavaScript
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--nodejs">
            Node.js
          </button>
        </li>
      </ul>
    </div>
    <ul class="project-list">
      <li class="project-list__item project project--js project--html">
        <div class="project__image">
          <img class="project__thumb"
               src="./assets/images/projects/project-5.png" width="320"
               height="320" alt="Portfolio project">
        </div>
        <div class="project__info">
          <h2 class="project__name">Portfolio</h2>
          <p class="project__tech">
            HTML / CSS / JS
          </p>
          <a class="project__btn btn"
             href="https://github.com/Aliheym/portfolio/" target="_blink"
             rel="noopener">View code</a>
        </div>
      </li>
      <li
          class="project-list__item project project--react project--nodejs project--html">
        <div class="project__image">
          <img class="project__thumb"
               src="./assets/images/projects/project-1.png" width="320"
               height="320" alt="ShippingApp">
        </div>
        <div class="project__info">
          <h2 class="project__name">Simple Shipping App</h2>
          <p class="project__tech">
            React / Express
          </p>
          <a class="project__btn btn"
             href="https://github.com/Aliheym/shippingApp/" target="_blink"
             rel="noopener">View code</a>
        </div>
      </li>
      <li class="project-list__item project project--html">
        <div class="project__image">
          <img class="project__thumb"
               src="./assets/images/projects/project-2.png" width="320"
               height="320" alt="Leospa project">
        </div>
        <div class="project__info">
          <h2 class="project__name">Leospa</h2>
          <p class="project__tech">
            HTML / CSS
          </p>
          <a class="project__btn btn" href="./projects/leospa">View site</a>
        </div>
      </li>
      <li class="project-list__item project project--html project--js">
        <div class="project__image">
          <img class="project__thumb"
               src="./assets/images/projects/project-3.png" width="320"
               height="320" alt="Blade Fashion project">
        </div>
        <div class="project__info">
          <h2 class="project__name">Blade Fashion 2019</h2>
          <p class="project__tech">
            HTML / CSS / JS
          </p>
          <a class="project__btn btn" href="./projects/blade-fashion">
            View site
          </a>
        </div>
      </li>
      <li class="project-list__item project project--html">
        <div class="project__image">
          <img class="project__thumb"
               src="./assets/images/projects/project-4.png" width="320"
               height="320" alt="Explore Landing page project">
        </div>
        <div class="project__info">
          <h2 class="project__name">&laquo;Exploreraquo; Landing Page</h2>
          <p class="project__tech">
            HTML / CSS / JS
          </p>
          <a class="project__btn btn" href="./projects/explore">
            View site
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
