<section id="portfolio" class="section portfolio" data-section="portfolio"
         data-aos="notify" data-aos-offset="400">
  <div class="container">
    <h2 class="section__title" data-aos="fade-right">Portfolio</h2>
    <div class="portfolio__filter project-filter project-filter--dropdown"
         data-dropdown>
      <span class="project-filter__text">All</span>
      <ul class="project-filter__list">
        <li class="project-filter__item">
          <button class="project-filter__btn project-filter__btn--active"
                  type="button" data-filter="*">
            All
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--react">
            HTML/CSS
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--js">
            ReactJS/Vue
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--nodejs">
            JavaScript
          </button>
        </li>
        <li class="project-filter__item">
          <button class="project-filter__btn" type="button"
                  data-filter=".project--html">
            Node.js
          </button>
        </li>
      </ul>
    </div>
    <ul class="project-list"></ul>
  </div>
</section>
