<section id="home" class="promo" data-section="home">
  <h2 class="visually-hidden">Welcome to my portfolio</h2>

  <div class="container">
    <div class="promo__block">
      <p class="promo__text">
        <span class="text text--typo">
          <span class="text__content">Hi, I'm</span>
        </span>
        <span class="text text--fadeBar text--dotPopIn text--highlight">
          <span class="text__content">Artem Derevyanko</span>
        </span>
        <br>
        <span class="text text--typo text--cursor">
          <span class="text__content text__content--long">
            And I'm a Junior Web Developer
          </span>
        </span>
      </p>
      <a class="promo__cta btn btn--icon btn--rotate" href="#portfolio">
        Go to portfolio
      </a>
    </div>
    <video class="promo__video" autoplay loop muted playsinline>
      <source src="./assets/videos/promo.mp4" type="video/mp4" />
      <source src="./assets/videos/promo.ogv" type="video/ogg" />
    </video>
    <a class="promo__scroll-down scroll-down" href="#about">
      <span class="visually-hidden"> Scroll Down </span>
    </a>
  </div>
</section>
