<section id="skills" class="section section--dark skills" data-section="skills">
  <div class="container">
    <h2 class="section__title" data-aos="fade-left">Skills</h2>
    <ul class="skills__list">
      <li class="skills__item skill skill--html" data-aos="zoom-out-down"
          data-aos-delay="300">
        <h3 class="skill__name">HTML 5</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#html5" />
        </svg>
        <div class="skill__progress progress-bar" data-value="80"
             data-fill-color="#e34f26" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--css" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">CSS 3</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#css3" />
        </svg>
        <div class="skill__progress progress-bar" data-value="77"
             data-fill-color="#1572b6" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--js" data-aos="zoom-out-down"
          data-aos-delay="600">
        <h3 class="skill__name">JS/ES6+</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#js" />
        </svg>
        <div class="skill__progress progress-bar" data-value="75"
             data-fill-color="#f7df1e" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--react" data-aos="zoom-out-down"
          data-aos-delay="300">
        <h3 class="skill__name">React JS</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#react" />
        </svg>
        <div class="skill__progress progress-bar" data-value="55"
             data-fill-color="#61dafb" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--nodejs" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">Node.js</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#nodejs" />
        </svg>
        <div class="skill__progress progress-bar" data-value="45"
             data-fill-color="#339933" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--php" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">PHP</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#php" />
        </svg>
        <div class="skill__progress progress-bar" data-value="50"
             data-fill-color="#777bb4" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--scss" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">SASS</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#sass" />
        </svg>
        <div class="skill__progress progress-bar" data-value="85"
             data-fill-color="#cc6699" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--gulp" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">Gulp</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#gulp" />
        </svg>
        <div class="skill__progress progress-bar" data-value="80"
             data-fill-color="#cf4647" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--webpack" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">Webpack</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#webpack" />
        </svg>
        <div class="skill__progress progress-bar" data-value="55"
             data-fill-color="#8dd6f9" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--vue" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">Vue</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#vue" />
        </svg>
        <div class="skill__progress progress-bar" data-value="30"
             data-fill-color="#4fc08d" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--git" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">Git</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#git" />
        </svg>
        <div class="skill__progress progress-bar" data-value="30"
             data-fill-color="#f05032" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--mysql" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">MySQL</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#mysql" />
        </svg>
        <div class="skill__progress progress-bar" data-value="60"
             data-fill-color="#4479a1" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
      <li class="skills__item skill skill--mongo" data-aos="zoom-out-down"
          data-aos-delay="400">
        <h3 class="skill__name">MongoDB</h3>
        <svg width="48" height="48" class="skill__icon">
          <use xlink:href="./assets/images/icons.svg#mongodb" />
        </svg>
        <div class="skill__progress progress-bar" data-value="35"
             data-fill-color="#47a248" data-aos="percentangeFill">
          <svg width="100" height="100" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="90" />
            <circle class="progress-bar__fill" cx="100" cy="100" r="90" />
          </svg>
          <p class="progress-bar__value">
            <span>0</span><span class="progress-bar__percent">%</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
